<% if current_event %>
    <td rowspan="<%= event_span(current_event) %>" style="<%= event_style(current_event) %>">
      <div class="event">
        <div class="event-time"><%= current_event.start_time.strftime('%H:%M') %>
          - <%= current_event.end_time.strftime('%H:%M') %></div>
        <div class="event-name"><%= current_event.name %></div>
        <div class="event-user">
          <% if current_event.user %>
          <small>by</small> <%= current_event.user %>
          <% end %>
        </div>
        <div class="event-location">
          <small>in</small> <%= current_event.conference_room.title %>
        </div>
      </div>
    </td>
<% elsif !event_ongoing?(day, time) %>
    <td></td>
<% end %>
