<div class="container">
  <aside class="col-xs-12 col-md-2 sidebar">
    <button type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#create-event-modal">
      Create Event
    </button>
  </aside>

  <div class="col-xs-12 col-md-8">
    <table class="calendar table table-bordered table-striped table-responsive">
      <tr>
        <th class="col-md-1"></th>
        <% @days.each do |day| %>
          <th class="col-md-2 text-center"><%= day.strftime('%a %m/%d') %></th>
        <% end %>
      </tr>
      <% @times.each do |time| %>
        <tr>
          <td class="text-right">
            <small><%= time.strftime('%H:%M') %></small>
          </td>
          <% @days.each do |day| %>
            <td data-date="<%= add_date_and_time(day, time).to_i %>">
              <div class="event-container"></div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<%= render partial: 'create_event', locals: {conference_rooms: @conference_rooms}%>

<%= javascript_tag do %>
  window.blocks = <%= raw @events.to_json %>
  window.eventUrl = '<%= events_path %>'
  window.unitEventLength = <%= CalendarHelper::UNIT_EVENT_LENGTH %>
<% end %>
