<div class="container">
  <aside class="col-xs-12 col-md-2 sidebar">
    <button type="button"
            class="btn btn-primary menu_button btn-block"
            data-toggle="modal"
            data-target="#create-event-modal">
      Create Event
    </button>
    <%= link_to 'Home', root_path, class: 'btn btn-primary menu-button btn-block' %>
    <%= link_to 'Next Week', root_path(params: {date: next_week(params[:date])}), class: 'btn btn-primary menu-button btn-block' %>
    <%= link_to 'Previous Week', root_path(params: {date: previous_week(params[:date])}) , class: 'btn btn-primary menu-button btn-block' %>
  </aside>
  <div class="col-xs-12 col-md-8">
    <%= react_component 'Calendar', props: @props %>
  </div>
</div>

<%= render partial: 'create_event', locals: {conference_rooms: @conference_rooms}%>

<%= javascript_tag do %>
  window.blocks = <%= raw @events.to_json %>
  window.eventUrl = '<%= events_path %>'
  window.unitEventLength = <%= CalendarHelper::UNIT_EVENT_LENGTH %>
<% end %>
