<div class="container">
  <aside class="col-xs-12 col-md-2 sidebar">
    <button type="button"
            class="btn btn-primary menu_button btn-block"
            data-toggle="modal"
            data-target="#create-event-modal">
      Create Event
    </button>
    <%= link_to 'Free Rooms', free_rooms_path(params: { date: params[:date] }), class: 'btn btn-primary menu_button btn-block' %>
    <%= link_to 'Home', root_path(params: { date: params[:date] }), class: 'btn btn-primary menu_button btn-block' %>
    <% if params[:action] == 'index' %>
        <%= link_to 'Next Week', root_path(params: { date: next_week(params[:date]) }), class: 'btn btn-primary menu_button btn-block' %>
        <%= link_to 'Previous Week', root_path(params: { date: previous_week(params[:date]) } ) , class: 'btn btn-primary menu_button btn-block' %>
    <% else %>
        <%= link_to 'Next Week', free_rooms_path(params: { date: next_week(params[:date]) } ), class: 'btn btn-primary menu_button btn-block' %>
        <%= link_to 'Previous Week', free_rooms_path(params: { date: previous_week(params[:date]) }), class: 'btn btn-primary menu_button btn-block' %>
    <% end %>
  </aside>
  <div class="col-xs-12 col-md-8">
    <table class="calendar table table-bordered table-striped table-responsive">
      <tr>
        <th class="col-md-1"></th>
        <% @days.each do |day| %>
          <th class="col-md-2 text-center"><%= day.strftime('%a %m/%d') %></th>
        <% end %>
      </tr>
      <% @times.each do |time| %>
        <tr>
          <td class="text-right">
            <small><%= time.strftime('%H:%M') %></small>
          </td>
          <% @days.each do |day| %>
            <%= render partial: 'event_cell', locals: {current_event: event_at(day, time), day: day, time: time} %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<%= render partial: 'create_event', locals: {conference_rooms: @conference_rooms}%>
