<div class="event" data-id="<%= event.id %>" style="<%= event_style(event) %>">
  <div class="event-time"><%= event.start_time.strftime('%H:%M') %>
    - <%= event.end_time.strftime('%H:%M') %></div>
  <div class="event-description"><%= event.description %></div>
  <div class="event-user">
    <small>by</small> <%= event.user %></div>
  <div class="event-location">
    <small>in</small> <%= event.conference_room.title %></div>
</div>
